[submodule "vim/pack/installed-packages/start/nerdtree"]
	path = .vim/pack/installed-packages/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/installed-packages/start/nerdtree-git-plugin"]
	path = .vim/pack/installed-packages/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/pack/installed-packages/start/tagbar"]
	path = .vim/pack/installed-packages/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/pack/installed-packages/start/vim-airline"]
	path = .vim/pack/installed-packages/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/installed-packages/start/vim-airline-themes"]
	path = .vim/pack/installed-packages/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/installed-packages/start/vim-solarized8"]
	path = .vim/pack/installed-packages/opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vim/pack/installed-packages/start/vim-sensible"]
	path = .vim/pack/installed-packages/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/pack/installed-packages/start/vim-sleuth"]
	path = .vim/pack/installed-packages/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/pack/installed-packages/start/vim-surround"]
	path = .vim/pack/installed-packages/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/installed-packages/start/vim-repeat"]
	path = .vim/pack/installed-packages/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/installed-packages/start/rust.vim"]
	path = .vim/pack/installed-packages/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/pack/installed-packages/start/nerdcommenter"]
	path = .vim/pack/installed-packages/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/pack/installed-packages/start/delimitmate"]
	path = .vim/pack/installed-packages/start/delimitmate
	url = https://github.com/raimondi/delimitmate.git
[submodule "vim/pack/installed-packages/start/vim-bufkill"]
	path = .vim/pack/installed-packages/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule ".vim/pack/installed-packages/start/nvim-lspconfig"]
	path = .vim/pack/installed-packages/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".vim/pack/installed-packages/start/nvim-treesitter"]
	path = .vim/pack/installed-packages/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule ".vim/pack/installed-packages/start/telescope.nvim"]
	path = .vim/pack/installed-packages/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule ".vim/pack/installed-packages/start/nvim-lspinstall"]
	path = .vim/pack/installed-packages/opt/nvim-lspinstall
	url = https://github.com/kabouzeid/nvim-lspinstall.git
[submodule ".vim/pack/installed-packages/start/vim-fugitive"]
	path = .vim/pack/installed-packages/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/installed-packages/start/vim-smoothie"]
	path = .vim/pack/installed-packages/start/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie.git
[submodule ".vim/pack/installed-packages/opt/nvim-compe"]
	path = .vim/pack/installed-packages/opt/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe.git
[submodule ".vim/pack/installed-packages/opt/nvim-solarized-lua"]
	path = .vim/pack/installed-packages/opt/nvim-solarized-lua
	url = https://github.com/ishan9299/nvim-solarized-lua.git
[submodule ".bash/trueline"]
	path = .bash/trueline
	url = https://github.com/petobens/trueline.git
[submodule ".vim/pack/installed-packages/opt/telescope-fzy-native.nvim"]
	path = .vim/pack/installed-packages/opt/telescope-fzy-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzy-native.nvim.git
